#sidenav {
  height: 100%;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

#sidenav a{
  padding: 4px 8px 4px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#sidenav p{
  padding: 4px 8px 4px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
  background-color: #111;
  border: 0;
  justify: left;
}

#sidenav span:hover {
  color: #f1f1f1;
}

#sidenav .closeButton {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openButton {
  position: absolute;
  z-index: 15;
  font-size: 36px;

}

#sidenav .layerName {
  float: left;
  display: inline;
  width: 100%
}

#sidenav .checkBox {
  float: right;
}

#main {
  transition: margin-left 0.5s;
}

#mainOpen {
  margin-left: 250px;
  transition: margin-left 0.5s;
}

#sidenav .bm-item{
  padding: 4px 8px 4px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
  background-color: #111;
  border: 0;
  justify: left;
}

.LayerSidebarOpen {
  width: 250px;
}

.LayerSidebarClosed {
  width: 0px;
}

body {
  font-family: Verdana;
  background-color: white;
  margin: 0;
}

code {
  font-family: Verdana;
}

.title {
  text-align: center;
  color: #FF8c00;
  opacity: 1;
  font-family: 'Brush Script MT', cursive;
  font-size: 48px;
  text-shadow: 1px 1px 1px #333;
  text-transform: capitalize;
  letter-spacing: 10px;
  font-weight: 10px;
  margin: 10px;
}

.header {
  position: absolute;
  top: 0;
  left: 15%;
  right: 15%;
  width: 70%;
  height: 90px;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}



h2 {
  color: #FF8c00;
  padding: 4px 8px 4px 8px;
}

/* #intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
  overflow-x: hidden;
  padding-top: 20px;
}

#mapid {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1
} */

.leaflet-container {
  width: 100%;
  z-index: 1;
}
