#sidenav {
  height: 100%;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background-color: #3a3a3a;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

#sidenav a{
  padding: 4px 8px 4px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#sidenav p{
  padding: 4px 8px 4px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
  background-color: #111;
  border: 0;
  justify: left;
}

#sidenav textarea{
  padding: 4px 8px 4px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
  border: 1;
  justify: left;
  height: 120px;
  width: 450px;
}

#sidenav span:hover {
  color: #f1f1f1;
  cursor: pointer;
}

#sidenav .closeButton {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 60px;
  margin-left: 50px;
  color: white;
}

.openButton {
  position: absolute;
  z-index: 15;
  font-size: 60px;

}

#sidenav .layerName {
  float: left;
  display: inline;
  width: 100%;
}

#sidenav .layerName:hover {
  cursor: pointer;
}

#sidenav .checkBox {
  float: right;
}

#main {
  transition: margin-left 0.5s;
}

#mainOpen {
  margin-left: 250px;
  transition: margin-left 0.5s;
}

#sidenav .bm-item{
  padding: 4px 8px 4px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #d7d7d7;
  display: block;
  transition: 0.3s;
  background-color: #404040;
  border: 0;
  justify: left;
}

#sidenav .bm-item:hover{
  cursor: pointer;
  background-color: #5a5a5a;
  font-size: 20px;
}

#sidenav .tabOff{
  display: none;
}

#sidenav .tabOn {
  display: block;
  transition: 0.3s
}

#sidenav .tabBar{
  position: fixed;
  bottom: 0;
  overflow: hidden;
  color: white;
  width: inherit;
  display: inline-block;
}

#sidenav .tabButton{
  width: 33.3%;
  float: left;
  height: 75px;
  text-align: center;
  background-color: #404040;
  font-size: 48px;
  transition: 0.5s;
}

#sidenav .tabButtonActive{
  width: 33.3%;
  float: left;
  height: 75px;
  text-align: center;
  background-color: #5a5a5a;
  font-size: 48px;
  transition: 0.5s;
}

#sidenav .tabButton:hover{
  background-color: #5a5a5a;
  font-size: 52px;
}

.LayerSidebarOpen {
  width: 250px;
}

.LayerSidebarClosed {
  width: 0px;
}

span:hover {
  cursor: pointer;
}

body {
  font-family: Verdana;
  background-color: white;
  margin: 0;
}

code {
  font-family: Verdana;
}

h2 {
  color: #FF8c00;
  padding: 4px 8px 4px 8px;
}

.leaflet-container {
  width: 100%;
  z-index: 1;
}
